

---


<h1><b><center>Uso do print()</center></b></h1>


---

A função print() mostra na tela uma mensagem ou o valor das variáveis.<br>
Assim é só colocar uma variavel dentro do print() ou uma string (texto) desta forma:

In [ ]:
# Com um uma string (texto)
print("Sejam bem vindos ao nosso sistema de cadastro de pessoas")
# lembrando que as string devem ser representadas com aspas simples '' ou duplas ""


# Podemos usar caracteres de escape para pular uma linha
print("\n")

# Com uma variável
nome = 'Julio'
print("Seja bem vindo ", nome)

print("\n")

# Pode ser colocado uma operação matemática dentro dela
print("A soma de 1+2 é: ", 1+2)


print("\n")

# Ou até fazer esta operação usando variaveis
valor = 5.50
quantidade = 10
print("Preço total é: ",valor*quantidade)

print("\n")

# Porém o melhor mesmo é fazer desta forma:
valor = 5.50
quantidade = 10
total = valor*quantidade
print("Preço total é: ",total)

print("\n")

# Para mostrar um texto com mais linhas, podemos usar as 3 aspas """ """ desta forma:
print("""
Oi
Meu nome
é
Pedro
""")

Sejam bem vindos ao nosso sistema de cadastro de pessoas


Seja bem vindo  Julio


A soma de 1+2 é:  3


Preço total é:  55.0


Preço total é:  55.0



Oi
Meu nome
é
Pedro

<h1><b>Exercicio 1</b></h1>

Imprima seu nome completo e idade cada um em uma nova linha

In [1]:
nome_completo = "Leonardo da S Kostetzer"
idade = 16
print("Seu nome é: ", nome_completo)
print("E sua idade é: ", idade)

Seu nome é:  Leonardo da S Kostetzer
E sua idade é:  16

<h1><b>Exercicio 3</b></h1>

Crie 3 variáveis

Cada variável deve conter um número

Imprima na tela a soma dos 3 números

In [ ]:
print("Cadastrar: ")
print("Alterar: ")
print("Listar pessoas: ")
print("Sair")

<h1><b>Exercicio 4</b></h1>

Imprima na tela uma mensagem de boas vindas

In [ ]:
print("Boas vindas")