---


<h1><b><center>Convertendo Tipos de Variáveis</center></b></h1>


---

O input() sempre irá retornar para nós uma string (texto).<br>
Porém as vezes precisamos de outros tipos de dados como um inteiro ou um float (ponto flutuante ou real).<br>
Para isso devemos usar funções para converter como:<br>
- int() para interios
- float() para float

A escolha vai depender do que você está trabalhando.<br>
Exemplo:

In [ ]:
# converter variável

# de string para inteiro
var = '10' # a aspa indica que a variável é do tipo string. 
var = int(var) # Estou convertendo e salvando na mesma variável

# de inteiro para string
var = 10
var = str(var)

# de float para string
var = 9.50
var = str(var)

# de string para float
var = '10.75'
var = float(var)

# de inteiro para float
var = 10
var = float(var)

# de float para inteiro
# Ficar atento que esta conversão pega somente a parte inteira do número. A parte depois da virgula é perdida

var = 7.85
var = int(var)
print(var)


print('\n')


# pedir 2 números inteiros e fazer a soma deles
numero1 = int(input("Digite o primeiro número: "))
numero2 = int(input("Digite o segundo número: "))
soma = numero1 + numero2
print("A soma dos números é: ", soma)

# pedir 2 número float e somar os dois
numero1 = float(input("Digite o primeiro número: "))
numero2 = float(input("Digite o segundo número: "))
soma = numero1 + numero2
print("A soma dos números é: ", soma)

# em via de regra, usamos o float quando queremos trabalhar com dinheiro, preço, peso, altura...
valor = float(input("Digite o preço do produto: "))
quantidade = int(input("Digite a quantidade de produto que você deseja: "))
preco_total = valor * quantidade
print("O valor total a ser pago é: ", preco_total)

Uma forma de saber que tipo de variável é usando a função type().

Exemplo:

In [ ]:
# para descobrir qual o tipo da variável
variavel = 10 #inteiro
print("Inteiro")
print(type(variavel))

print('\n')

variavel = 10.0 # float
print("Float")
print(type(variavel))

print('\n')

variavel = '10 abc' # string (texto)
print("string")
print(type(variavel))

<h1><b>Exercicio 8</b></h1>

Converta as seguintes variáveis e imprima na tela o valor e o tipo da variável

In [ ]:
# 8.1 Para string (exemplo)
numero = 10  # variável para conversão

numero = str(numero) # convertendo a variável
print(numero,type(numero)) # imprimindo na tela o valor e o tipo da variável

print('\n')

# 8.2 Para float
valor = '1.99'
numero = float(numero)
print(numero,type(numero))

print('\n')

# 8.3 Para inteiro
inteiro = 8.75
inteiro = int(inteiro)
print(inteiro,type(inteiro))

print('\n')

# 8.4 Para string
texto_idade = 9
texto_idade = str(texto_idade)
print(texto_idade,type(texto_idade))
print('\n')

# 8.5 Para float
valor = 10
valor = float(valor)
print(valor,type(valor))
print('\n')

# 8.6 Para inteiro
idade = '9'
idade = int(idade)
print(idade,type(idade))
print('\n')

# 8.7 Para string
peso_quilo = 1.755
peso_quilo = str(peso_quilo)
print(peso_quilo,type(peso_quilo))

<h1><b>Exercicio 9</b></h1>
Faça um programa que peça o nome do cliente, a quantidade do produto (inteiro) e o preço (float).

Mostre o nome do cliente e o valor total da venda.

In [2]:
nome = str(input("Digite seu nome: "))
quantidade = int(input("Digite a quantidade do produto: "))
preco = float(input("Digite o preço do produto: "))
valor = quantidade*preco
print(nome,"O valor total fica em: ", valor)

Digite seu nome: Leonardo
Digite a quantidade do produto: 4
Digite o preço do produto: 3
Leonardo O valor total fica em:  12.0

<h1><b>Exercicio 10</b></h1>
Faça um programa que peça o nome de 2 produtos, a quantidade comprada de cada produto (inteiro) e o valor (float) de cada um.

Mostre o nome a quantidade, preço por unidade e o total de cada produto.

In [ ]:
BAO

In [3]:
produto1 = str(input("Digite o nome do primeiro produto: "))
produto2 = str(input("Digite o nome do segundo produto: "))
qunt_prod1 = int(input("Digite a quantidade do primeiro produto: "))
qunt_prod2 = int(input("Digite a quantidade do segundo produto: "))
valor_prod1 = float(input("Digite o valor do primeiro produto: "))
valor_prod2 = float(input("Digite o valor do segundo produto: "))
print("O nome do primeiro produto é: ",produto1 )
print("O nome do segundo produto é: ",produto2 )
print("A quantidade do produto 1 é:",qunt_prod1)
print("A quantidade do produto 2 é:",qunt_prod2)
preço_uni1 = valor_prod1
preço_uni2 = valor_prod2
total1 = qunt_prod1 * valor_prod1
total2 = qunt_prod2 * valor_prod2
print("O preço por unidade do produto 1 é: ",preço_uni1)
print("O preço por unidade do produto 2 é: ",preço_uni2)
print("O total do produto 1 é: ",total1)
print("O total do produto 1 é: ",total2)

Digite o nome do primeiro produto: ET
Digite o nome do segundo produto: TR
Digite a quantidade do primeiro produto: 2
Digite a quantidade do segundo produto: 3
Digite o valor do primeiro produto: 1
Digite o valor do segundo produto: 4
O nome do primeiro produto é:  ET
O nome do segundo produto é:  TR
A quantidade do produto 1 é: 2
A quantidade do produto 2 é: 3
O preço por unidade do produto 1 é:  1.0
O preço por unidade do produto 2 é:  4.0
O total do produto 1 é:  2.0
O total do produto 1 é:  12.0

<h1><b>Exercicio 11</b></h1>
Escreva um programa que peça o peso (float) de 3 pessoas e motre na tela a soma de todos os pesos.

In [4]:
peso1 = float(input("Digite o peso da pessoa 1: "))
peso2 = float(input("Digite o peso da pessoa 2: "))
peso3 = float(input("Digite o peso da pessoa 3: "))
peso_total = peso1 + peso2 + peso3
print("O pesso total é: ",peso_total)

Digite o peso da pessoa 1: 3.98
Digite o peso da pessoa 2: 56.9
Digite o peso da pessoa 3: 57.67
O pesso total é:  118.55